*{
	font-family:'helvetica';
	color:#bb0a21;
	box-sizing: border-box;
	/* this is a comment */
}
body{
	padding:60px;
	background-color:#f5b700;
	background-image: url(../img/Batman-Logo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 100%;
	height:400px;
	width:50%;
	margin: 50px 50px 50px 50px;
	opacity: 1;

}

   img > > {
   	float: left;
   	margin: 10 10 10 10; 
   }

   nav{
   	float: right;
   	padding: 0px;
   }